@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.wrapper {
    min-height: 100%;
    overflow: hidden;
  }
  
html {
    font-size: 62.5%; /* 10px = 1rem */
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: #242424;
}

img{
    max-width: 100%;
}

a{
    color:#c91818;
    cursor: pointer;

    -webkit-transition: 0.3s;
    transition: 0.3s;
}

a:hover{
    background-color: #c91818;
    color:#fff;
}

h2{
    font-weight: 700;
    font-size: 4.5rem;
    text-align: center;
    padding-bottom: 3rem;
    border-bottom: 1px solid #060606;
    width: fit-content;
    margin: auto;
    margin-bottom: 9rem;
}

h3{
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 5rem;
    background-color: #c91818;
    color: white;
    padding: 2rem;
    max-width: fit-content;
}

.container{
    max-width: 120.2rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Header */

.header__bg {
    background: url(../img/bg.jpg) no-repeat center top;
    min-height: 100rem;
    background-size: cover;
    background-color: #000;
    padding-bottom: 5.8rem;
    margin-bottom: 3rem;
}

@media only screen and (min-width: 1700px) {
    .header__bg {
        
        background-size: contain;
        background-color: #000;
        
    }
}


.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
}

.header__logo a{
    color: #fff;
    font-size: 3.6rem;
    display: flex;
    align-items: center;
}

.header__logo a:hover{
    color: #c91818;
    background-color: transparent;
}

.header__logo img{
    max-width: 4rem;
}

.header__logo h1{
    padding-top: 0.7rem;
}

.menu__top {
    display: flex;
    gap: 4rem;
}

.menu__top li a{
    color: #fff;
    font-size: 2rem;
}

.menu__top li a:hover{
    color: #c91818;
    background-color: transparent;
}


.header__description{
    display:flex;
    justify-content: space-between;
    color:#fff;
    margin-top: 70.5rem;
}


.description__top{
    max-width: 42.2rem;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 5rem;
}

.decription__bottom{
    font-size: 3.2rem;
    max-width: 32.2rem;
    text-align: right;
    line-height: 3.5rem;
    padding-top: 1.8rem;
    font-weight: 100;
}


@media only screen and (max-width: 1000px) {
    .header__top{
        flex-wrap: wrap;
        display: block;
        position: relative;
    }

    .header__description{
        flex-wrap: wrap;
    }

    .description__top, .decription__bottom{
        max-width: 100%;
        margin: auto;
    }

    .header__menu {
        display: none;
    }
}

/* Nav bar burger */



.header__top .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 60px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .header__top .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .header__top .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .header__top .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .header__top .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .header__top .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  
  .header__top input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .header__top input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .header__top input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .header__top input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .header__top input[type="checkbox"]:checked ~ .logo{
    display: none;
  }


/* biography */

.biography {
    padding: 10rem 0;
}

.biography__description {
    display: flex;
    gap: 10rem;
    justify-content: center;
    
}

.biography__desc{
    display: flex;
    justify-content: space-between;
    gap: 7rem;
    align-items: center;
}

.biography__text p, .biography__description-2 p{
    margin-bottom: 2rem;
}

.biography__text-date{
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 3.5rem;
    margin-top: 4rem;
}

.biography__text-date p{
    margin-bottom: 0;
}
.biography__img-left {
    min-width: 35%;
}

@media only screen and (max-width: 1000px) {
    .biography__description{
        flex-wrap: wrap;
    }

    .biography__desc{
        flex-wrap: wrap;
        gap: 2rem
    }

    .biography__text{
        width: 100%;
    }

    .biography__description-2{
        flex-wrap: wrap;
    }

    .biography__description-2 h3{
        
        margin: 5rem auto;
    }

    .biography__desc-right{
        margin-top: 3rem;
    }


}

/* apple */

.apple{
    
    padding: 10rem 0 14rem 0;
    background: url(../img/mac.png) no-repeat center 100%;
    background-color: #f0f0f0;
    margin-bottom: 10rem;
}

.apple__list li{
    padding: 0.4rem 2rem 2rem;
    background-color: #fff;
    margin: 2rem auto;
    list-style-type: disc;
    max-width: 67%;
    font-size: 1.7rem;
    box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 10px;
}

.apple__list li::marker{
    font-weight: 700;
    color: #c91818;
    font-size: 5rem;
}

.appleLogo{

    padding-bottom: 10rem;
    margin-bottom: 5rem;
}

.appleLogo p{
    margin: 5rem;
    line-height: 3rem;
    text-align: center;
}

.appleLogo h3{
    margin: auto;
}

@media only screen and (max-width: 1200px) {
    .apple{
        
        background: none;
        background-color: #f0f0f0;
    }

    .apple__list li {

    }
}

/* Awards */

.awards{
    background: url(../img/bg-awards.jpg) no-repeat center center;
    background-size: cover;
    padding: 20rem 0;
    margin-bottom: 10rem;
    position: relative;
}

.awards::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:rgba(0, 0, 0, .5);
        z-index: 1;
}

.awards__bg{
    z-index: 4;
    position: relative;
}

.awards__wrap{
    display: flex;
    gap: 5rem;
    color:#fff;
    align-items: center;
}

.awards__wrap img{
    height: fit-content;
}

.awards__list{
    
}

.awards__list li{
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.awards__list li span{
    background-color: #c91818;
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem;
    min-width: 15%;
}

@media only screen and (max-width: 1000px) {
    .awards__wrap{
        flex-wrap: wrap;
    }
}

/* Family */

.family{
    padding-bottom: 10rem;
}

.family__decsription{
    text-align: center;
}

.family__subtitle{
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
    margin: 4rem 0;
}

/* Videos */

.video{
    padding: 10rem 0;
    background-color: #000;
    color:#fff;
    text-align: center;
}

.video h2{
    margin-bottom: 3rem;
    border-bottom: 1px solid #fff;
}

.video__subtitle{
    margin-bottom: 10rem;
}

.video__film{
    margin: 10rem auto 4rem auto;
    font-size: 3rem;
    background-color: #c91818;
    width: fit-content;
    padding: 1rem;
}

/* Footer */

footer{
    padding: 10rem 0;
    text-align: center;
}

.quote{
    padding: 10rem 0;
    background-color: #e8e8e8;
}

blockquote {
margin: 0;
color: #3A3C55;
padding: 30px 30px 30px 90px;
position: relative;
font-weight: 300;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
}
blockquote:before {
    content: "\201C";
    font-family: serif;
    position: absolute;
    left: 20px;
    top: -35px;
    color: #949494;
    width: 50px;
    height: 50px;
    font-size: 13rem;
    line-height: 1.35;
    text-align: center;
}
blockquote p {
    margin: 0 0 1.6rem 3rem;
    font-size: 2.7rem;
    letter-spacing: .05em;
    line-height: 1.4;
}
